/.CellAspect.java._trace
/.CellAspectCellAspectContext.java._trace
/.CellAspectCellAspectProperties.java._trace
/.Main.java._trace
/.UniverseAspect.java._trace
/.UniverseAspectUniverseAspectContext.java._trace
/.UniverseAspectUniverseAspectProperties.java._trace
/.OneStepGameOfLife.xtendbin
/CellAspect.java
/CellAspectCellAspectContext.java
/CellAspectCellAspectProperties.java
/Main.java
/UniverseAspect.java
/UniverseAspectUniverseAspectContext.java
/UniverseAspectUniverseAspectProperties.java
