/.Context.java._trace
/.EvolutionRuleCompiler4Mason.java._trace
/.TestExecution.java._trace
/.Context.xtendbin
/.EvolutionRuleCompiler4Mason.xtendbin
/.TestCompiler.xtendbin
/Context.java
/EvolutionRuleCompiler4Mason.java
/TestExecution.java
