/.CellAspectCellAspectContext.java._trace
/.BooleanInverter_VMAspect.xtendbin
/.CellAspect.java._trace
/.CellAspectCellAspectProperties.java._trace
/.TestVMInverter.java._trace
/.TestVMInverter.xtendbin
/.UniverseAspect.java._trace
/.UniverseAspectUniverseAspectContext.java._trace
/.UniverseAspectUniverseAspectProperties.java._trace
/.VMInverter.java._trace
/.VMInverter.xtendbin
/CellAspect.java
/CellAspectCellAspectContext.java
/CellAspectCellAspectProperties.java
/TestVMInverter.java
/UniverseAspect.java
/UniverseAspectUniverseAspectContext.java
/UniverseAspectUniverseAspectProperties.java
/VMInverter.java
