/.CellAspectCellAspectContext.java._trace
/.CellAspectCellAspectProperties.java._trace
/.GameOfLife.java._trace
/.UniverseAspectUniverseAspectContext.java._trace
/.UniverseAspectUniverseAspectProperties.java._trace
/.CellAspect.java._trace
/.GameOfLife.xtendbin
/.GameOfLifeProcedural.java._trace
/.GameOfLifePureProcedural.xtendbin
/.TestHardcodedGameOfLife.java._trace
/.TestHardcodedGameOfLife.xtendbin
/.UniverseAspect.java._trace
/CellAspect.java
/CellAspectCellAspectContext.java
/CellAspectCellAspectProperties.java
/GameOfLife.java
/GameOfLifeProcedural.java
/TestHardcodedGameOfLife.java
/UniverseAspect.java
/UniverseAspectUniverseAspectContext.java
/UniverseAspectUniverseAspectProperties.java
