/.CAIRRefactoring.java._trace
/.CellularAutomataInitializationAspect.java._trace
/.CellularAutomataInitializationAspectCellularAutomataInitializationAspectContext.java._trace
/.CellularAutomataInitializationAspectCellularAutomataInitializationAspectProperties.java._trace
/.RuleAspect.java._trace
/.RuleAspectRuleAspectContext.java._trace
/.RuleAspectRuleAspectProperties.java._trace
/.TestExecution.java._trace
/.CAIRRefactoring.xtendbin
/.CAIRRefactoringAspect.xtendbin
/.TestRefactoring.xtendbin
/CAIRRefactoring.java
/CellularAutomataInitializationAspect.java
/CellularAutomataInitializationAspectCellularAutomataInitializationAspectContext.java
/CellularAutomataInitializationAspectCellularAutomataInitializationAspectProperties.java
/RuleAspect.java
/RuleAspectRuleAspectContext.java
/RuleAspectRuleAspectProperties.java
/TestExecution.java
