/.SimpleK3Sample.xtendbin
/.UniverseAspect.java._trace
/.UniverseAspectUniverseAspectContext.java._trace
/.UniverseAspectUniverseAspectProperties.java._trace
/UniverseAspect.java
/UniverseAspectUniverseAspectContext.java
/UniverseAspectUniverseAspectProperties.java
